.searchbar{
    display: flex;
    width :95%;
    border: 2px solid cadetblue;
    justify-content: space-around;
    height: 40px;
    margin-left: 20px;
    border-radius: 5px;;

}
.layoutheader{
    display: flex;
}

/* .searchitem{
    display: flex;
    justify-content: space-around;
} */


/* .searchlist{
    display: flex;
    flex-direction: column;
} */
