.header{
    background-color:  rgb(19, 15, 255);;
    width: 100%;
    height: 100px;
    display: flex;
}

.headeritem{
    display: flex;
    flex-direction: column;
    color: cadetblue;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
}

.headeritemactive{
    border: 2px solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    color: cadetblue;
    
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;

}

